@model LogisticLTDA.Models.Usuario

@{
    Layout = null;
}

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="icon" type="image/x-icon" href="~/Content/favicon-16x16.png" />
<body class="bodyLogin">
    <div class="barralateral">
        <div class="itens-menu">
            <a href="" class="item-do-menu">
                <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m11.25 6c.398 0 .75.352.75.75 0 .414-.336.75-.75.75-1.505 0-7.75 0-7.75 0v12h17v-8.749c0-.414.336-.75.75-.75s.75.336.75.75v9.249c0 .621-.522 1-1 1h-18c-.48 0-1-.379-1-1v-13c0-.481.38-1 1-1zm1.521 9.689 9.012-9.012c.133-.133.217-.329.217-.532 0-.179-.065-.363-.218-.515l-2.423-2.415c-.143-.143-.333-.215-.522-.215s-.378.072-.523.215l-9.027 8.996c-.442 1.371-1.158 3.586-1.264 3.952-.126.433.198.834.572.834.41 0 .696-.099 4.176-1.308zm-2.258-2.392 1.17 1.171c-.704.232-1.274.418-1.729.566zm.968-1.154 7.356-7.331 1.347 1.342-7.346 7.347z" fill-rule="nonzero" />
                <span class="menu-text">Cadastrar</span>
                </svg>
            </a>
        </div>
    </div>
    <div class="container min-vh-100 d-flex align-items-center justify-content-center">
        <div class="row w-100 justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="dvconteiner ">
                    <div class="row justify-content-center p-4">
                        <div class="col-12 col-md-10 col-lg-8">
                            <div class="logo">
                                <img src="~/Content/LogisticsLogo.png" alt="Logo da Logistica Ltda" />
                            </div>
                            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                            {
                                <div class="mb-3">
                                    @Html.LabelFor(c => c.CPF, new { @class = "form-label" })
                                    @Html.EditorFor(c => c.CPF, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(c => c.CPF, "", new { @class = "text-danger small" })
                                </div>
                                <div class="mb-3">
                                    @Html.LabelFor(s => s.Senha, new { @class = "form-label" })
                                    @Html.PasswordFor(s => s.Senha, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(s => s.Senha, "", new { @class = "text-danger small" })
                                </div>
                                <button type="submit" class="btn btn-primary w-100">
                                    Entrar
                                </button>
                            }
                            <div class="login-footer mt-3 text-center">
                                © Enzo Victoriano
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")